@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .txt-gradient {
        background: var(--A, linear-gradient(94deg, #B5179E -13.04%, #7209B7 124.22%));
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .bg-gradient{
        background: linear-gradient(94deg, #B5179E -13.04%, #7209B7 124.22%);
    }
    .active-menu{
        color: #FFF;
        background: linear-gradient(94deg, #B5179E -13.04%, #7209B7 124.22%);
    }
    .grid-custom-lg{
        grid-template-columns: 270px auto 320px;
    }
    .grid-custom-md{
        grid-template-columns: 80px auto 320px;
    }
    .grid-custom-xs{
        grid-template-columns: 80px auto;
    }

    .input_range{
        -webkit-appearance: none;
        width: 100%; 
        background: transparent;
        cursor: pointer;
    }
    
    .input_range::-webkit-slider-runnable-track {
        width: 100%;
        height: 5px;
        border-radius: 5px;
        background-color: #464646;
    }
    
    .input_range::-webkit-slider-thumb{
        -webkit-appearance: none;
        width: 12px;
        height: 12px;
        margin-top: -3px;
        border-radius: 50%;
        background: var(--A, linear-gradient(94deg, #B5179E -13.04%, #7209B7 124.22%)); 
    }
    
    .music__img.is-playing{
        animation: spinner 5s infinite linear;
        animation-delay: .5s;
    }
    
    @keyframes spinner{
        to{
            transform: rotate(360deg);
        }
    }
}